.CGris{
	background: gray;
}
body{
	background: #F5DEB3;
}
.div{
	background: gray;
}
.textarea{
	display:block;
}
.inputUno{
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
ul>li{
	list-style:none;
}

.display{
	display: inline-block;
}